body {
    color: #fff;
}

body.index {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.venue {
    background-image: url('/assets/images/ashes.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body.information-background {
    background-image: url('/assets/images/information-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.schedule {
    background-image: url('/assets/images/schedule-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body.wishing-well {
    background-image: url('/assets/images/wishing-well-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.rsvp {
    background-image: url('/assets/images/wishing-well-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 20px;
    /* Semi-transparent white background for navbar */
}

.nav-link:hover {
    color: rgb(194, 165, 0);
}

.rsvp-btn {
    font-family: 'Playfair Display', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(194, 165, 0);
    border: 2px solid rgb(124, 106, 0);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.rsvp-btn:hover {
    color: rgb(194, 165, 0);
    background-color: black;
    border: 2px solid rgb(194, 165, 0);
    border-radius: 10px;
}

/* index page */
.header_logo {
    width: 100%;
}

.gold-text {
    color: rgb(194, 165, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.fancy-countdown {
    font-family: 'Playfair Display', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}

/* venue page */

.venue_logo {
    width: 100%;
    margin-top: 120px;
}

.information {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
    margin-top: 50px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.information p, li{
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.hotel-btn {
    font-family: 'Playfair Display', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(194, 165, 0);
    border: 2px solid rgb(124, 106, 0);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.hotel-btn:hover {
    color: rgb(194, 165, 0);
    background-color: black;
    border: 2px solid rgb(194, 165, 0);
    border-radius: 10px;
}

/* Information page */

.information-logo {
    width: 100%;
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.date p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: black;
}

/* schedule */

.schedule-timeline {
    width: 100%;
    margin-top: 130px;
}

/* wishing well */

.wishing-logo {
    width: 100%;
    margin-top: 120px;
}

/* RSVP */

.rsvp-logo {
    width: 100%;
    margin-top: 100px;
}

.rsvp-date p {
    font-family: 'Playfair Display', sans-serif;
    color: black;
    font-size: 25px;
}

.form {
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
}
