body {
    color: #fff;
}

body.index {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.venue {
    background-image: url('/assets/images/ashes.png');
    background-size: cover;
    background-repeat: no-repeat;
}

body.information-background {
    background-image: url('/assets/images/information-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.schedule {
    background-image: url('/assets/images/schedule-background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

body.wishing-well {
    background-image: url('/assets/images/wishing-well-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.rsvp {
    background-image: url('/assets/images/rsvp-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 20px;
    /* Semi-transparent white background for navbar */
}

.nav-link:hover {
    color: rgb(194, 165, 0);
}

.rsvp-btn {
    font-family: 'Playfair Display', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(194, 165, 0);
    border: 2px solid rgb(124, 106, 0);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.rsvp-btn:hover {
    color: rgb(194, 165, 0);
    background-color: black;
    border: 2px solid rgb(194, 165, 0);
    border-radius: 10px;
}

/* index page */
.header_logo {
    width: 100%;
}

.gold-text {
    color: rgb(194, 165, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.fancy-countdown {
    font-family: 'Playfair Display', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}

/* venue page */

.venue_logo {
    width: 100%;
    margin-top: 120px;
}

.information {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.information p,
li {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

.hotel-btn {
    font-family: 'Playfair Display', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgb(194, 165, 0);
    border: 2px solid rgb(124, 106, 0);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

.hotel-btn:hover {
    color: rgb(194, 165, 0);
    background-color: black;
    border: 2px solid rgb(194, 165, 0);
    border-radius: 10px;
}

/* Information page */

.information-logo {
    width: 100%;
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.date p {
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: black;
}

/* schedule */

.schedule-timeline {
    width: 100%;
    margin-top: 130px;
}

/* wishing well */

.wishing-logo {
    width: 100%;
    margin-top: 120px;
}

/* RSVP */

.rsvp-logo {
    width: 100%;
    margin-top: 100px;
}

.rsvp-date p {
    font-family: 'Playfair Display', sans-serif;
    color: black;
    font-size: 25px;
}

.vegetables p {
    font-family: 'Playfair Display', sans-serif;
    color: black;
    font-size: 15px;
}

.form {
    color: black;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
}

.line-logo {
    max-width: 100%;
    display: block;
    margin: auto;
}

.form-check-input {
    border-color: black;
}

.form-check-input:checked {
    background-color: rgb(194, 165, 0);
    border-color: rgb(124, 106, 0);
    box-shadow: 0 0 0 0.2rem rgba(194, 165, 0, 0.25);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay .alert {
    display: none;
    font-family: 'Playfair Display', sans-serif;
    background: #fff;
    color: black;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.success-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: url('/assets/images/rsvp-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.success-container p {
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.success-container button {
    margin-top: 10px;
}

.contact {
    margin-top: 5px;
}

.contact p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* media queries */

@media(max-width: 480px) {
    .navbar-brand img {
        width: 80%;
    }
}

@media(max-width: 350px) {
    .header_logo {
        margin-top: 110px;
    }

    .rsvp-btn {
        margin-top: 10px;
    }
}