body {
    color: #fff;
}

body.index {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.venue {
    background-image: url('/assets/images/ashes.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 20px;
    /* Semi-transparent white background for navbar */
}

/* index page */
.header_logo {
    width: 100%;
}

.gold-text {
    color: rgb(194, 165, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.fancy-countdown {
    font-family: 'Playfair Display', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
}

/* venue page */

.venue_logo {
    width: 100%;
    margin-top: 120px;
}

.information {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px; 
    margin-top: 50px; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

.information p, li{
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
}

